*{
	box-sizing: border-box;
}

.row{
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

/*clear fix*/
.row::before, .row::after{
	display: table;
	content: '';
}

.row::after{
	clear: both;
}

.col-4, .col-6, .col-12{
	float: left;
	/*gutters*/
	padding-left: 1.04166666px;
	padding-right: 1.04166666px;
}

/*mobile defaults*/
.col-4, .col-6, .col-12{
	width: 100%;
}

@media only screen and (min-width: 640px){
	.col-4{
		width: 33.33%;
	}
	.col-6{
		width: 50%;
	}
	.col-12{
		width: 100%;
	}
}
